@charset "UTF-8";
/* Style Entire Page */
    body {
    margin: 0;
	}

/* Style Profile Photo */
    #me {
     width: 240px;
     height: 300px;
       }

/* Style Paragraph */
     main p {
	padding: 20px;
       }
